<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="" method="post">
            <h2>Informações de dimensões</h2>
            <label>Altura           </label><br>
            <label>Largura          </label><br>
            <label>Comprimento      </label><br>
            <label>Diametro interno </label><br>
            <label>diametro Externo </label><br>
            <h2>Informações de fabricante</h2>
            <label>Nome             </label><br>
            <label>Numero OEM       </label><br>
            <h2>Detalhes técnicos</h2>
            <label>Amperagem            </label><br>
            <label>Tensão               </label><br>
            <label>Quantidade de polos  </label><br>
            <label>Quantidade de sulcos </label><br>
            <hr>
            <label>produto  </label><br>
            <label>preço    </label><br>
        </form>
<!--   float valor, float amperagem,
         String nomeProduto ){-->
    </body>
</html>
