<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <!-- icones-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"  crossorigin="anonymous">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap tags-->
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">
        
    </head>
    <body>
<style>
input {
    width:90%;
    margin:10px;
}    
</style>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-4">
                 <div class="row">
                    <div class="card">
                        <div class="card-body">
                        <form action='../cadastrocliente' method='post'>
                        <h3>informações básicas e de entrega</h3>
                            <input type="text" name="cpf"   placeholder="cpf"  required > <br>
                            <input type="text" name="nome"  placeholder="nome" required>  <br>
                            <input type="text" name="logradouro" placeholder="logradouro"   required>       <br>
                            <input type="text" name="cep"          required placeholder="cep">              <br>
                            <input type="text" name="numerocasa"   required placeholder="numero da casa">   <br>
                            <input type="text" name="complemento"  required placeholder="complemento">      <br>
                            <input type="text" name="referencia"   required placeholder="referencia">       <br>
                            <input type="text" name="nascimento"   required placeholder="nascimento">       <br>
                        <h3> informações de pagamento.</h3>
                            <input type="text" name="numerocartao" required  placeholder="numero do cartao"> <br>
                            <input type="text" name="nometitular" required   placeholder="nome do titular">  <br>
                            <input type="text" name="vencimento" required    placeholder="vencimento">       <br>
                            <input type="text" name="bandeira" required      placeholder="bandeira">         <br>
                        <h3>Informações de acesso</h3>
                            <input type="text" name="email" required placeholder="email">    <br>
                            <input type="text" name="senha1" required placeholder="senha">   <br>
                            <input type="text" name="senha2" required placeholder="confirmar senha">   <br>

                            <input type="submit" class="btn btn-primary" value="cadastrar">
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
