<!DOCTYPE html>
<html>
<head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <!-- icones-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap tags-->
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body>
    <!--    FACEBOOK API -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '379955402870484',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.3'
        });

        FB.AppEvents.logPageView();   

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <br>
    <div class="container">
       <div class="row">
         <div class="col-md-6 offset-md-3">
           <div class="card">
              <div class="card-body">                
                <h5 class="card-title">entre com seu login e senha.</h5>
                <form action="../Login" method="POST">
                  <input type="email" class="form-control"      name="email"    id="login" placeholder="login"><br>
                  <input type="password" class="form-control"   name="password" id="pwd" placeholder="senha"><br>                  
                  <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false" style="margin-left:25%;"></div>
                  <br> <br>                  
                  <input type="submit" class="btn btn-primary btn-lg" value="login" style="width:54%;margin-left:25%;">                  
                  <br>
                  <br>
                  <p align="center">
                      <a href="cadastrocliente.html">Criar Conta </a>
                  </p>                  
                </form>
              </div>
            </div>
         </div>
       </div>
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.3&appId=379955402870484&autoLogAppEvents=1"></script>
    
    </body>
</html>
