<!DOCTYPE html>
<html>
    <head>
         <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <!-- icones-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap tags-->
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <style>
            input{
                width: 50%;
                margin-right: 10px;
                margin-left: 15%;
            }
            i{
                margin:5px;
                font-size: 25px;
            }
            h3,p,li,span{
                color:blue;
            }
        </style>        
        <br>
        <div class="container">
            <div class="row">
                <input type="text" placeholder="Pesquisar" >
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <a href="../Bobina">
                        <div class="carousel-item active">
                            <img src="img/bobina.png" alt="bobina" width="1100" height="500">
                            <div class="carousel-caption">
                                <h3>Bobina</h3>
                                <p>Melhores marcas com garantia de fábrica.</p>
                            </div>   
                        </div>
                    </a>
                    
                        <div class="carousel-item">
                            <img src="img/rolamento.png" alt="rolamento" width="1100" height="500">
                            <div class="carousel-caption">
                                <h3>Rolamento</h3>
                                <p>Transferência de movimento com menores perdas.</p>
                            </div>   
                        </div>

                        <div class="carousel-item">
                            <img src="img/rotor.png" alt="rotor" width="1100" height="500">
                            <div class="carousel-caption">
                                <h3>Rotor</h3>
                                <p>Temos as marcas ideais para seu veículo.</p>
                            </div>   
                        </div>
                    
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>
        </div>
    </body>
</html>
